


 <mat-toolbar>
  <span>{{screenModule.moduleUid?"Modify Screen Module":"New Screen Module"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form  class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <!-- <mat-form-field>
        <input  hidden matInput name="moduleUid" #moduleUid="ngModel" type="text" placeholder="screenModule UID"  [(ngModel)]="screenModule.moduleUid" >
      </mat-form-field> -->
      <mat-form-field>
        <input matInput name="moduleId" #moduleId="ngModel" type="text" placeholder="screenModule ID"  [(ngModel)]="screenModule.moduleId" required >
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput name="moduleName" #moduleName="ngModel" type="text" placeholder="screenModule Name"  [(ngModel)]="screenModule.moduleName" required >
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="createdBy" #createdBy="ngModel" type="text" placeholder=" createdBy"  [(ngModel)]="screenModule.createdBy" required >
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="screenModule.moduleUid">
        <input matInput name="modifiedBy" #modifiedBy="ngModel" type="text" placeholder="modifiedBy"  [(ngModel)]="screenModule.modifiedBy" >
      </mat-form-field>


      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <div class="add-bottom-padding">
         
          <mat-radio-group  name="moduleStatus" #moduleStatus="ngModel" [(ngModel)]="screenModule.moduleStatus">
            <mat-radio-button value="active">Active</mat-radio-button>
            <mat-radio-button value="inActive">InActive</mat-radio-button>
          </mat-radio-group>
          
{{screenModule.createdDate}}
          <!-- <mat-form-field>
            <input  name="createdDate" #createdDate="ngModel" [(ngModel)]="screenModule.createdDate" matInput [matDatepicker]="picker" placeholder="Created Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
          <mat-form-field fxFlexFill>
            <input matInput [matDatepicker]="pickerReminder"  name="createdDate" #createdDate="ngModel" placeholder="Date" [(ngModel)]="screenModule.createdDate" readonly />
            <mat-datepicker-toggle matSuffix [for]="pickerReminder"></mat-datepicker-toggle>
        </mat-form-field>
        <mat-datepicker #pickerReminder></mat-datepicker>


        </div>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" >Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form> 